<p id="notice"><%= notice %></p>

<h1>Listing Career Fields</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @career_fields.each do |career_field| %>
      <tr>
        <td><%= career_field.label %></td>
        <td><%= career_field.active %></td>
        <td><%= link_to 'Show', career_field %></td>
        <td><%= link_to 'Edit', edit_career_field_path(career_field) %></td>
        <td><%= link_to 'Destroy', career_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Career field', new_career_field_path %>
