<p id="notice"><%= notice %></p>

<h1>Listing Career Fields</h1>

<div class="row">
  <% @career_fields.each do |career_field| %>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title"><%= career_field.label %></h4>
          <p class="card-text">
            <% career_field.keywords.each do |keyword| %>
                <%= keyword.label %>
            <% end %>
          </p>
          <%= link_to 'Show', career_field, class: 'card-link' %>
          <%= link_to 'Edit', edit_career_field_path(career_field), class: 'card-link' %>
          <%= link_to 'Destroy', career_field, method: :delete, data: {confirm: 'Are you sure?'}, class: 'card-link' %>
        </div>
      </div>
  <% end %>
</div>

<br>

<div class="row">
  <%= link_to 'New Career field', new_career_field_path, class: 'btn btn-info' %>
</div>
