<div class="ja-profile">
  <div class="ja-profile-close">X</div>
  <img class="ja-profile-banner" src="<%= @profile.banner.url %>">
  <img class="ja-profile-logo" src="<%= @profile.logo.url %>">
  <table class="ja-profile-body">
    <tr>
      <td class="ja-profile-body-left">
          <div class="ja-profile-gray ja-profile-body-left-addr"><%= @profile.street %></div>
          <div class="ja-profile-gray ja-profile-body-left-addr"><%= @profile.city %>, <%= @profile.state %> <%= @profile.zip %></div>
          <div class="ja-profile-gray ja-profile-body-left-phone"><%= @profile.phone %></div>
          <div class="ja-profile-gray ja-profile-body-left-website"><%= @profile.website_url %></div>
          <i class="fa fa-2x fa-instagram"></i>
          <i class="fa fa-2x fa-facebook"></i>
          <i class="fa fa-2x fa-twitter"></i>
        </td>
        <td class="ja-profile-body-right">
          <div class="ja-profile-title">About Us</div>
          <div class="ja-profile-body-right-about-us ja-profile-gray"><%= @profile.about_us %></div>
          <div class="ja-profile-body-right-contact-us">
            <a href="#">Contact Us</a>
          </div>
        </td>
    </tr>
  </table>
  <div class="row ja-profile-separator">
    <hr class="col-md-5"/>
    <div class="col-md-2 ja-profile-title">Company Posts</div>
    <hr class="col-md-5"/>
  </div>
</div>