<div class="ja-profile">
  <div class="ja-profile-close">X</div>
  <img class="ja-profile-banner" src="<%= @profile.banner.url %>">
  <img class="ja-profile-logo" src="<%= @profile.logo.url %>">
  <div class="ja-profile-body">
    <div class="ja-profile-body-left">
      <div class="ja-profile-body-left-about">
        <div class="ja-profile-body-left-gray ja-profile-body-left-addr"><%= @profile.street %></div>
        <div class="ja-profile-body-left-gray ja-profile-body-left-addr"><%= @profile.city %>, <%= @profile.state %> <%= @profile.zip %></div>
        <div class="ja-profile-body-left-gray ja-profile-body-left-phone"><%= @profile.phone %></div>
        <div class="ja-profile-body-left-gray ja-profile-body-left-website"><%= @profile.website_url %></div>
        <i class="fa fa-2x fa-instagram"></i>
        <i class="fa fa-2x fa-facebook"></i>
        <i class="fa fa-2x fa-twitter"></i>
      </div>
    </div>
    <div class="ja-profile-body-right">
      <div class="ja-profile-body-right-title">About Us</div>
    </div>
    <div class="ja-profile-posts">

    </div>
  </div>
</div>