<h1>Listing Users</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Email</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %> </td>
        <td><%= link_to 'Show', stakeholder_user_path(@stakeholder, user) %></td>
        <td><%= link_to 'Edit', edit_stakeholder_user_path(@stakeholder, user) %></td>
        <td><%= link_to 'Destroy', stakeholder_users_url, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_stakeholder_user_path %>
