<p id="notice"><%= notice %></p>

<h1>Listing Keywords</h1>

<div class="row">
  <% @keywords.each do |keyword| %>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title"><%= keyword.label %></h4>
          <p class="card-text">
          </p>
          <%= link_to 'Show', keyword, class: 'card-link' %>
          <%= link_to 'Edit', edit_keyword_path(keyword), class: 'card-link' %>
          <%= link_to 'Destroy', keyword, method: :delete, data: {confirm: 'Are you sure?'}, class: 'card-link' %>
        </div>
      </div>
  <% end %>
</div>

<%= will_paginate @keywords %>


<br>

<div class="row">
  <%= link_to 'New Keyword', new_keyword_path, class: 'btn btn-info' %>
</div>
