<% @posts.each do |post| %>
    <div class="ja-post ja-post-min">
      <a class="ja-post-close" href="#">X</a>
      <div class="ja-post-header">
        <div class="ja-post-header-crop">
          <a class="ja-post-header-title" href="#"><%= post.stakeholder.name %></a>
        </div>
        <img class="ja-post-logo-img" src="<%= post.stakeholder.profile.logo.url %>">
      </div>
      <div class="ja-post-img-section">
        <img class="ja-post-img" src="<%= post.photo.url %>">
        <div class="ja-post-img-gradient">
          <a href="#" class="ja-post-info ja-post-icon-link" stakeholderId="<%= post.stakeholder.id %>"><i class="ja-post-icon fa fa-info-circle"></i></a>
          <a target="contact" class="ja-post-contact ja-post-icon-link" href="mailto:<%= post.contact_email %>?body=<%= post.email_body %>&subject=<%= post.email_subject %>">
            <i class="ja-post-icon fa fa-envelope"></i>
          </a>
        </div>
      </div>
      <div class="ja-post-body">
        <div class="ja-post-subject"><a href="#"><%= post.subject %></a></div>
        <div class="ja-post-abstract">
          <a href="#"><%= post.abstract %></a>
        </div>
        <div class="ja-post-summary" style="display: none"><%= post.body %></div>
      </div>
    </div>
<% end %>
<%= render :file => '/profiles/_shared_show.html.erb', :layout => false %>
<div>
  <%= will_paginate @posts%>
</div>