<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= image_tag @post.photo.url %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @post.subject %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @post.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @post.end_date %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @post.abstract %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @post.contact_email %>
</p>

<p>
  <strong>Email subject:</strong>
  <%= @post.email_subject %>
</p>

<p>
  <strong>Email body:</strong>
  <%= @post.email_body %>
</p>

<p>
  <strong>Active:</strong>
  <%= @post.active %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
