<!DOCTYPE html>
<html>
<head>
  <title>JA NextStep</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-dark navbar-fixed-top bg-jagreen">
  <a class="navbar-brand text-center" href="#">
    <%= image_tag 'ja_logo_small.png'%>
  </a>
  <button class="navbar-toggler hidden-sm-up text-jaorange" type="button" data-toggle="collapse" data-target="#mainNavCollapse">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs clearfix" id="mainNavCollapse">
    <form>
      <div class="input-group">

        <% @keywords.each do |keyword| %>
            <div class="selected-keyword template" style="display: table-cell;" keywordId="<%= keyword.id %>"><%= keyword.label %>
              <i class='fa fa-times'></i>
              <input type="hidden" name="keyword_ids[]" value="<%= keyword.id %>"/>
            </div>
        <% end %>

        <input class="form-control input-sm" placeholder="What's your Next Step?" type="text">
        <div class="btn-group input-group-btn">
          <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
            <i class="fa fa-search"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
        <div id="keyword-search-results"></div>
      </div>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <% flash.each do |name, msg| %>
        <div class="alert alert-info alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= msg %>
        </div>
    <% end %>

    <%= yield %>

  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-dark bg-jagreen">
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'nav-link',) %>
            <% else %>
                <a class="nav-link" href="/users/sign_in">Log In</a>
          <% end %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/stakeholders">Businesses</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-3">
        <ul class="nav navbar-nav pull-right text-white">
          <!--<li class="nav-item active">-->
            <!--<i class="fa fa-2x fa-instagram"></i>-->
          <!--</li>-->
          <li class="nav-item active">
            <a class="nav-link" href="https://www.juniorachievement.org/web/ja-centralpa/home">
            <i class="fa fa-2x fa-globe"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://www.facebook.com/Junior-Achievement-of-Central-PA-118930228120342/">
              <i class="fa fa-2x fa-facebook"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://twitter.com/JACentralPA">
            <i class="fa fa-2x fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

</body>
<div class="selected-keyword template" keywordId=""><i class='fa fa-times'></i></div>
</html>

