<!DOCTYPE html>
<html>
<head>
  <title>JaNextStep</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">JANextStep</h1>
    <p class="lead"> Here we can put the search box and dd of career fields</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
</div>

<footer class="footer bg-primary">
  <span class="text-center">
  <span> Home </span>
  <span> Login </span>
  <span> Business </span>
  <span> Help </span>
  <span> About </span>
  </span>
  <span class="pull-right">
  <i class="fa fa-instagram fa-spin fa-2x" aria-hidden="true"></i>
  <i class="fa fa-facebook fa-spin fa-2x " aria-hidden="true"></i>
  <i class="fa fa-twitter fa-spin fa-2x" aria-hidden="true"></i>
  </span>
</footer>

</body>
</html>

